.stages {
  padding: 10rem 0;
}

.stages__container {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  margin-top: 6.4rem;
  justify-content: space-between;
}

.stages__item {
  max-width: 30%;
}

.stages-item {
  box-shadow: inset 0px 0px 0px 0.1rem var(--color-tertiary-light);
  border-radius: 1rem;
  padding: 2.1rem 3.3rem 1.5rem 3.3rem;
  display: flex;
  flex-direction: column;
  transition: all 0.3s;

  &:hover {
    box-shadow: inset 0px 0px 0px 0.1rem var(--color-tertiary-light), 0px 0px 0.5rem 0.2rem var(--color-tertiary-light);
  }
}

.stages-item__header {
  display: flex;
  justify-content: space-between;
}

.stages-item__title {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 0.8rem;
    height: 120%;
    left: -3.6rem;
    top: 50%;
    transform: translateY(-50%);
    display: block;
    background-color: var(--color-secondary-dark);
    border-radius: 0.4rem;
  }
}

.stages-item__number {
  color: var(--color-secondary-dark);
  margin-right: -1.4rem;
}

.stages-item__btn {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 4.1rem;
  position: relative;
  padding: 0.7rem 0.5rem;
  align-self: start;
  font-weight: 500;

  &:before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    display: block;
    width: 22%;
    height: 80%;
    z-index: -1;
    background-color: var(--color-tertiary-dark);
    transition: all 0.3s;
  }

  &:hover {
    &:before {
      width: 100%;
    }
  }
}

@screen <lg {
  .stages {
    padding: 7rem 0 9rem 0;
  }

  .stages__item {
    max-width: 48%;
  }
}
@screen <md {
  .stages__container {
    margin-top: 3rem;
  }
  .stages-item {
    padding: 1.5rem 1.5rem 1rem 1.5rem;
  }

  .stages-item__title {
    &:before {
      left: -1.8rem;
    }
  }

  .stages-item__number {
    margin-right: 0;
  }
}

@screen <sm {
  .stages {
    padding: 4rem 0 5rem 0;
  }

  .stages__item {
    max-width: 100%;
  }

  .stages__container {
    margin-top: 2rem;
    gap: 1rem;
  }
}
